/* 

What is CSS
Css stands for Cascading Style Sheets (css). It is a stylesheet language sued to descride the look And presentation of a document writen in HTML or XML. It defines how elements are displayed on a web page. Css makes website visually appealing and user-friendly.

-----------

Creators and Maintenance of CSS?
. Css was created by a group of indivisuals known as the world wide web consortium (W3C).
. Primary contributors include Hakon Wiem Lie and Bert Bos.
. Css standards and specifications are maintained by the W3C.
. A community of web developers, designers, and browser vendors also contribute to its evolution.
. Regular updates and new versions ensue css remais relevant and adaptable to changing web design needs.

-----------

CSS Rule structure ?
. A css rule consists of a selector and a declaration block.
. declaration are used to define the style properties for the selector elements.
. Each declaration consists of a property and a value.

selector {
    property: value;
}

h1 {
    color: bule;
    font-size: 32px;
}

here h1 is selector curly brackets are declaration block and color is property and bule is value of the property.

-----------

Three Waus to write css?
. Inline CSS -> Style applied directly to on html element using the style attribute.
<h1 style="color: blue;" >THIS IS HEADING</h1>.

. Internal CSs -> Styles defined within the <style> tag within the HTML document's <head>.
<style>
    h1 {
        color: white;
        font-size: 12px;
    }
</style>

. External CSS -> Styles stored in separate .css files linked to the html document using the <link> element. 
<link rel="stylesheet" href="css file link">


*/