
/* 

colors are used to add colors on element. color is added by color property
ex - color: red;
in css colors can be specified using color name, rgb, rgba, hex code, hsl

1. color name => simple colors modern browsers suport 140 named colors.
ex- red, blue, etc.

2. rgb => rgb(red,green,blue). we have to give red green and blue its points betwwen 0 to 255. 

The rgb() function define colors using the Red-green-blue (RGB) model. An RGB color value is specified with: rgb(red, green, blue). Each parameter defines the intensity of that color and can be an integer between 0 and 255 or a percentage value (from 0% to 100%).

rgb(0,0,0) => black
rgb(255,255,255) => white
rgb(255,0,0) => red
rgb(0,255,0) => green
rgb(0,0,255) => blue

3. rgba =>  rgba(red,green,blue,alpha)
alpha parameter is a number between 0-1, 0.0(fully transparent) and 1.0 (not transparent at all)
ex- rgba(255,255,255,0.7)

4.hex => #rrggbb rr(red), gg(green), bb(blue) hexadecimal value between 00 and ff (same as deficmal 0-255)
red:#ff0000;
red:#000000;
red:#ffffff;

5.hsl => hsl(hue,saturation,lightness)
ex- RED:hsl(0,100%,50%)

HUE is a degree on the color wheel from 0 to 360. 0is red, 120 is green, and 240 is blue.
SATURARION is percentage value, 0% means a shade of gray, and 100% is the full color. 
LIGHTNESS is also a percentage, 0% is black, 50% is neither light or dark 100% is white.

6.hsla => hsla(hue, saturation, lightness, alpha)
. alph parameter is a number between 0.0 (fully transparent) and 1.0 (not transparent al all)
ex- ex- RED:hsla(0,100%,50%,0.5)

*/