/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==


1. INTRODUCTION 
1. INTRODUCTION 
1. INTRODUCTION 


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 


2. CSS SYNTAX
2. CSS SYNTAX
2. CSS SYNTAX


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=


3. HOW TO ADD CSS 
3. HOW TO ADD CSS 
3. HOW TO ADD CSS 

p{
    color: red;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

4. CSS SELECTOR
4. CSS SELECTOR
4. CSS SELECTOR

element secector 
p{
    color: red;
}

id selector
#p_1{
    color: blue;
}

#p_3{
    color: brown;
}

class selector 
.para{
    color: yellowgreen;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

5. CSS COMMENTS
5. CSS COMMENTS
5. CSS COMMENTS


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

6. CSS COLORS
6. CSS COLORS
6. CSS COLORS

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

7. CSS BACKGROUND 
7. CSS BACKGROUND 
7. CSS BACKGROUND 



#bg {
    color: rgb(254, 254, 254);
    background-color: rgba(0, 0, 255, 0.107);
}

body {
    background: black url(/images/mother\ bord.jpg) no-repeat fixed center;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

8. CSS BORDER
8. CSS BORDER
8. CSS BORDER

p{
    border-bottom: 1px solid black;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

9. CSS HEIGHT AND WIDTH 
9. CSS HEIGHT AND WIDTH 
9. CSS HEIGHT AND WIDTH 


body{
    border: 1px solid black;
    height: 500px;
}


#box{
    background-color: green;
    width: 50%;
    height:50%;
    max-width: 600px;
    max-height: 800px;
    min-width: 400px;
    min-height: 300px;
} 

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=


10. CSS PADDING
10. CSS PADDING
10. CSS PADDING


.box{
    border: 1px solid black;
    padding: 80px;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

11. CSS MARGIN
11. CSS MARGIN
11. CSS MARGIN


.box{
    border: 1px solid black;
    margin: 30px;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

12. CSS BOX MODEL
12. CSS BOX MODEL
12. CSS BOX MODEL

When we set the width and height property of an element width css, we just set the width and height of the of the content area. to calculate the full size of an element, you must add padding, border and margins.

Total element width = width + left-padding + right-padding + left-border + right-border + left-margin + right-margin
Total element height = height + top-padding + bottom-padding + top-border + bottom-border + top-margin + bottom-margin

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=


13. CSS TEXT
13. CSS TEXT
13. CSS TEXT


.text{
    width: 600px;
    border: 1px solid black;
    text-align: center;
    color: red;
    writing-mode: vertical-lr;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

14. CSS LINKS
14. CSS LINKS
14. CSS LINKS

a{
    text-decoration: none;
}

a:link{
    color: green;
}

a:visited{
    color: black;
}

a:hover{
    color: orange;
}

a:active{
    color: blue;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

15. CSS FONTS
15. CSS FONTS
15. CSS FONTS

p{
    font-size: 30px;
    font-family: sans-serif;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

16. CSS UNITS
16. CSS UNITS
16. CSS UNITS

html{
    font-size: 10px;
}

#parent{
    font-size: 2em;
}

#child{
    font-size: 2em;
}

.saperate{
    font-size: 40px;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

17. CSS CURSIOR
17. CSS CURSIOR
17. CSS CURSIOR


.box{
    border: 1px solid black;
    cursor: pointer;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

18. CSS !IMPORTANT
18. CSS !IMPORTANT
18. CSS !IMPORTANT


.box{
    border: 1px solid black;
    cursor: pointer !important;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

19. CSS BOX SHADOW 
19. CSS BOX SHADOW 
19. CSS BOX SHADOW 

.box{
    width: 200px;
    height: 180px;
    background-color: blueviolet;
    margin: 80px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.box{
    box-shadow: 10px 10px 10px 4px black inset;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

20. CSS OPACITY 
20. CSS OPACITY 
20. CSS OPACITY 


.box{
    width: 200px;
    height: 180px;
    background-color: blueviolet;
    margin: 80px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.3;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

21. CSS FILTER
21. CSS FILTER
21. CSS FILTER

img {
    width: 600px;
    opacity: 1%;
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

22. CSS IMAGE SPRITE 
22. CSS IMAGE SPRITE 
22. CSS IMAGE SPRITE 

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

23. CSS GRADIATION 
23. CSS GRADIATION 
23. CSS GRADIATION 


.div_1 {
    height: 500px;
    border: 1px solid black;
    background-image: radial-gradient(circle, #138808 40%, #FFFFFF 40%, #FF993333 20%);
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

24. CSS OVERFLOW
24. CSS OVERFLOW
24. CSS OVERFLOW


.overflow{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    overflow: auto;
}



=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

25. CSS RESIAZABLE
25. CSS RESIAZABLE
25. CSS RESIAZABLE



.overflow{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    overflow: auto;
    resize: both;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

26. CSS LISTS 
26. CSS LISTS 
26. CSS LISTS 



ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

ul{
    list-style-position: inside;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

27. CSS TABLE
27. CSS TABLE
27. CSS TABLE


table {
    border-collapse: collapse;
    border: 1px solid blue;
    border-spacing: 5px;

}

caption {
    border: 1px solid black;
    margin-bottom: 5px;
}


tr {
    border: 1px solid red;
}

th {
    border: 1px solid black;
    height: 40px;
    width: 100px;
}

td {
    border: 1px solid green;
    height: 30px;
    padding: 4px;
    text-align: center;
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

28. CSS FUNCTIONS 
28. CSS FUNCTIONS 
28. CSS FUNCTIONS 



:root{
    --primary_color:rgb(67, 76, 76);
    --btn_color:rgb(65, 65, 65);
    --text_color:white;
}


.fun{
    background-color: var(--primary_color);
    height: 100px;
    width: calc(100% - 100px);
}

a{
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px;
    background-color: var(--btn_color);
    color: var(--text_color);
    font-family: sans-serif;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

29. CSS SIZING  
29. CSS SIZING  
29. CSS SIZING  


.div_1{
    background-color: tan;
    width: 400px;
    height: 200px;
}

.div_2{
    background-color: teal;
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 3px solid blue;
    box-sizing: border-box;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

30. CSS INITIAL VS INTARIT 
30. CSS INITIAL VS INTARIT 
30. CSS INITIAL VS INTARIT 


.green{
    color: rgb(15, 119, 157);
}

#one{
    color: red;
}

#two{
    color: initial;
}

#three{
    color: inherit;
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

31. CSS OBJECT FIX  
31. CSS OBJECT FIX  
31. CSS OBJECT FIX 


img{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    object-fit: cover;
    object-position: top center;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

32. CSS PSEUDO-CLASSES  
32. CSS PSEUDO-CLASSES  
32. CSS PSEUDO-CLASSES  

li:nth-child(odd){
    color: red;
}

input:focus{
    border: 3px solid red;
    background-color: black;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

33. CSS PSEUDO-ELEMENT
33. CSS PSEUDO-ELEMENT
33. CSS PSEUDO-ELEMENT


p::first-line{
    font-size: 35px;
}

h2::before{
    content: "hi my name is yash ";
}

h2::after{
    content: " hi my name is yash";
}

::selection{
    color: red;
    background-color: blue;
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

34. CSS DIAPLAY AND VISIBILITY
34. CSS DIAPLAY AND VISIBILITY
34. CSS DIAPLAY AND VISIBILITY


.display {
    border: 1px solid black;
    width: 48%;
    height: 40px;
    display: block;
}

#div_1 {
    visibility: visible;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

35. CSS POSITION
35. CSS POSITION
35. CSS POSITION


.parent{
    width: 400px;
    height: 1300px;
    border: 2px solid black;
    padding: 10px;
    margin: 50px;
    position: relative;
}

.child_1{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
}

.child_2{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.child_3{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

36. CSS LAYER AND Z-INDEX
36. CSS LAYER AND Z-INDEX
36. CSS LAYER AND Z-INDEX



.parent{
    width: 400px;
    height: 1300px;
    padding: 10px;
    margin: 50px;
    position: relative;
}

.child_1{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.child_2{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    top: 50px;
    left: -50px;
    z-index:1;
   
}

.child_3{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 100px;
    left: -100px;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

37. css FLOT AND CLEAR
37. css FLOT AND CLEAR
37. css FLOT AND CLEAR


.child_1{
    width: 100px;
    height: 100px;
    background-color: green;
    margin-right: 10px;
    float: left;
}

.child_2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-right: 10px;
    float: left;
}

.child_3{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-right: 10px;
    float: left;
    clear: both;

}

.child_4{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    margin-right: 10px;
    float: right;
    clear: left;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

38. CSS 2D TRANSFORMATION  
38. CSS 2D TRANSFORMATION  
38. CSS 2D TRANSFORMATION  



.wraper {
    padding: 20px;
    margin: 20px;
}

a {
    text-decoration: none;
    background-color: rgb(223, 152, 58);
    padding: 10px 6px 10px 6px;
    color: rgb(0, 0, 0);
    display: inline-block;
    transform-origin: 50% 100%;
    transform:rotate(0deg);
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

39. CSS 3D TRANSFORMATION  
39. CSS 3D TRANSFORMATION  
39. CSS 3D TRANSFORMATION  



.cover{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin: 50px auto 0 auto;
}

.content{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    transform: perspective(300px)rotate3d(0,0,0,20deg);
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

40. CSS TRANSITION  
40. CSS TRANSITION  
40. CSS TRANSITION  



.divone{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 100px;
}

.divone:hover{
    width: 200px;
    background-color: red;
}


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

41. CSS ANIMATION
41. CSS ANIMATION
41. CSS ANIMATION



.animate {
    border: 2px solid black;
    background-color: rgb(60, 0, 255);
    height: 200px;
    width: 200px;
    animation-name: change_color;
    animation-duration: 10s;
    transition: all ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes change_color {
    0% {
        background-color: red; 
        width: 210px;
        height: 210px;
        border-radius: 5%;
    }
    
    10% {
        background-color: green;
        width: 220px;
        height: 220px;
        border-radius: 10%;
    }
    
    20% {
        background-color: yellow;
        width: 230px;
        height: 230px;
        border-radius: 15%;

    }
    
    30% {
        background-color: black;
        width: 240px;
        height: 240px;
        border-radius: 20%;

    }

    40% {
        background-color: orange;
        width: 250px;
        height: 250px;
        border-radius: 25%;
        
    }
    
    50% {
        background-color: white;
        width: 260px;
        border-radius: 30%;

    }
    
    60% {
        background-color: violet;
        width: 270px;
        border-radius: 35%;

    }

    70% {
        background-color: brown;
        width: 280px;
        height: 280px;
        border-radius: 40%;
        
    }

    80% {
        background-color: pink;
        width: 290px;
        height: 290px;
        border-radius: 45%;
        
    }
    
    90% {
        background-color: cyan;
        width: 300px;
        height: 300px;
        border-radius: 50%;

    }
    
    100% {
        background-color: grey;
        width: 310px;
        height: 310px;
        border-radius: 50%;
    }
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

42. CSS PRINT STYLE IN CSS
42. CSS PRINT STYLE IN CSS
42. CSS PRINT STYLE IN CSS




=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

43. CSS RESPONSIVE WEB DESIGINE
43. CSS RESPONSIVE WEB DESIGINE
43. CSS RESPONSIVE WEB DESIGINE



=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

44. CSS VIEWPORT META TAG
44. CSS VIEWPORT META TAG
44. CSS VIEWPORT META TAG


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

45. CSS MEDIA QUERIES
45. CSS MEDIA QUERIES
45. CSS MEDIA QUERIES


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

46. CSS ADVANCE SELECTOR 
46. CSS ADVANCE SELECTOR 
46. CSS ADVANCE SELECTOR

1. element selector 
li{
    color: red;
    list-style: none;
}

2. id selector 
#list_2{
    color: blue;
}

3. class selector 
.list_5{
    color: yellow;
}

4. Pseudo class and pseudo element
a:hover{
    color: red;
}

p::first-line{
    color: gray;
}

5. Attribute selector
a[href="https://www.google.com"]{
    color: violet;
}


6. universal selector 
*{
    border: 1px solid ;
    margin: 5px;
}

7. Combinator selector


i. Decendant combinator (child at any stage)
div a{
    color: black;
}


ii. Child combinator (Direct child)

div a{
    color:red;
}

iii. Adjacent combinatory (right after sibling)

div + a{
    color: pink;
}

iv. normal sibling (~)


div ~ a{
    color: red;
}


8. and selector 

h1, p, a{
    color: blue;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

47. CSS SPECIFICITY
47. CSS SPECIFICITY
47. CSS SPECIFICITY


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

48. CSS MULTIPLE COMOUMN
48. CSS MULTIPLE COMOUMN
48. CSS MULTIPLE COMOUMN


div{
    column-count: 3;
    column-gap: 40px;
    column-rule-style:solid ;
    column-rule-width:1px ;
    column-rule-color: blue;
    column-rule: 1px solid pink;

    
}

h1{
    column-span: all;
}

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

50. BOX SIZING
50. BOX SIZING
50. BOX SIZING


.box1{
    width:200px ;
    height: 200px;
    background-color: rgb(67, 66, 64);
    
}

.box2{
    width:200px ;
    height: 200px;
    background-color: rgb(228, 170, 54);
   
}

*/