/* 

The css multi-coloum layout allows easy defination of multiple coloumns of text - just like in newspapers

column-count: ; -> it is used to define column, in how many column we want to display coloumn

column-rule: ; -> it is used to define rule between two coloumn

column-gap: ; -> it is used to define coloumn gap



*/

