/* 

BACKGROUND we have different property for background it is used to add style in background of an element.

1. background color => it is used to add color to background of an element.
ex body{
    background-color: rgba(0, 0, 255, 0.61);
}

-------------------

2. background image => it is used to add background image to the background of an element.
ex- body {
    background-image: url(/images/mother\ bord.jpg);
}

-------------------

3. background repeat => it is used to style of repetation of image. background repeat has many values.

-------------------

background-repeat: no-repeat; (if we dont want to repeat).
repeat-x = to repeat in x axis only.
repeat-y = to repeat in y axis only.

-------------------

4. background size => it is used to add background size. it has different values.
auto => it automaticlly takes the size.
contain => it take as per the content.
cover => it take the whole window size.

we can also add background size in % and px

-------------------

5. background position => it is used to add position of a background background position property has different values.
top,center,bottom,rght,left.etc.
we can also add position in px and percentage.

-------------------

6. background attactment => it is used to add attactment to the background. it has different values.
scroll =. by default it has scroll it means it scrole with the content.
fixed => it is used to set background attactment fixed if we use fixed it will dont move.

-------------------

7. multiple images -> it is used to add multiple images on background
background: url(first-image-url), url(seocnd-image-url);
(or bhe saare property do baar likhne honge dono image ko style karne ke liye) 

-------------------

8. background-blend-mode -> The background-blend-mode property defines the blending mode of each background layer (color and/or image).

normal     - This is default. Sets the blending mode to normal	
multiply   - Sets the blending mode to multiply	
screen     - Sets the blending mode to screen	
overlay    - Sets the blending mode to overlay	
darken     - Sets the blending mode to darken	
lighten    - Sets the blending mode to lighten	
color      - dodge	Sets the blending mode to color-dodge	
saturation - Sets the blending mode to saturation	
color      - Sets the blending mode to color	
luminosity - Sets the blending mode to luminosity

-------------------

9. background-origin	Specifies where the background image(s) is/are positioned.

padding-box	Default value. The background image starts from the upper left corner of the padding edge	
background-origin: padding-box;

border-box	The background image starts from the upper left corner of the border	
background-origin: border-box;

content-box	The background image starts from the upper left corner of the content
background-origin: content-box;

-------------------

10. background-clip	Specifies the painting area of the background

border-box	Default value. The background extends behind the border	
background-clip: border-box;

padding-box	The background extends to the inside edge of the border	
background-clip: padding-box;

content-box	The background extends to the edge of the content box
background-clip: content-box;

-------------------

11. background => it is a short hand property which is used to different styles of background in once.
background: color - image - repeat - attactment - position;
background: black url(/images/mother\ bord.jpg) no-repeat fixed center;
color 
image
repeat
attactment
position

*/

